* {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 0.2fr 1fr 1.8fr;
  grid-template-rows: 0.5fr;
  gap: 0px 0px;
  grid-template-areas: ". . .";

  background-color: #363eb1;
  font-family: "Gemunu Libre", sans-serif;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 600;
}

.input input {
  width: 70%;
  margin: 13px auto;
  padding: 5px;
}

.logo p {
  margin: 5px 5px 5px 15px;
}
